<template>
  <div>
      <img class="map-img" src="./3.png" alt="">
      <img src="./1.png" alt="">
  </div>
</template>

<script>
export default {

}
</script>

<style lang="less" scoped>
.map-img {
  width:100%;
  height:300px;
}
 img {
   display:block;
   margin:0 auto;
 }
</style>
