<template>
  <div class="pd-wrap">
    <div class="filter-wrap">
      <div class="item">
        <label>数据源</label>
        <Select style="width:200px">
          <Option
            v-for="item in dataSourceList"
            :value="item.value"
            :key="item.value"
            >{{ item.label }}</Option
          >
        </Select>
      </div>
      <div class="item">
        <label>日期</label>
        <DatePicker
          type="daterange"
          placeholder="请选择日期"
          style="width: 200px"
        ></DatePicker>
      </div>
    </div>
    <div>
      <div class="water-flow">
        <BaseChart :option="option" />
      </div>
    </div>
    <div class="flex-wrap">
      <label>班次</label>
      <div class="team">
         <div class="day">白班</div>
         <div class="night">夜班</div>
      </div>
    </div>
    <div class="flex-wrap">
      <label>事件</label>
      <div class="case-chart">
        <BaseChart :option="caseOption" />
      </div>
    </div>
    <div class="flex-wrap">
      <label>视频</label>
      <div class="history-video">
         <video src="" controls="controls">
         </video>
      </div>
    </div>
  </div>
</template>

<script>
import BaseChart from '@/components/base-chart'
import { normalSymbol, abnormalSymbol } from './model'
export default {
  components: {
    BaseChart
  },
  data () {
    return {
      option: {},
      caseOption: {},
      dataSourceList: [],
      xData: ['08:00', '09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00', '00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00', '08:00']
    }
  },
  methods: {
    updateOption () {
      this.option = {
        legend: {
          show: true,
          type: 'scroll',
          right: 10,
          bottom: 'auto',
          left: 'auto',
          orient: 'horizontal',
          align: 'auto',
          formatter: null,
          icon: 'circle',
          itemWidth: 10,
          itemHeight: 10,
          textStyle: {
            fontSize: 12,
            color: '#fff'
          }
        },
        grid: {
          'left': 0,
          'right': 0,
          'top': 30,
          'bottom': 20,
          'width': 'auto',
          'height': 'auto',
          'containLabel': true
        },
        'tooltip': {
          'trigger': 'axis',
          'axisPointer': {
            'type': 'shadow'
          },
          formatter: {
            '_custom': {
              'type': 'function',
              'display': '<span>?</span> formatter(param)'
            }
          }
        },
        'xAxis': [
          {
            'type': 'category',
            'data': this.xData,
            'axisLabel': {
              'interval': 0
            }
          }
        ],
        'yAxis': [
          {
            'type': 'value'
          }
        ],
        'series': [
          {
            'type': 'line',
            'symbolSize': 5,
            'name': '进水流量',
            'data': [
              287,
              298,
              355,
              243,
              332,
              382,
              355,
              209,
              225,
              348,
              287,
              298,
              355,
              243,
              332,
              382,
              355,
              209,
              225,
              348,
              382,
              355,
              209,
              225,
              348
            ],
            'stack': 'line',
            'smooth': true
          },
          {
            'type': 'line',
            'symbolSize': 5,
            'name': 'PAC流量',
            'data': [
              304,
              168,
              272,
              292,
              327,
              157,
              301,
              394,
              254,
              200,
              304,
              168,
              272,
              292,
              327,
              157,
              301,
              394,
              254,
              200,
              157,
              301,
              394,
              254,
              200
            ],
            'stack': 'line',
            'smooth': true
          }
        ],
        'dataZoom': []
      }
    },
    caseChart () {
      this.caseOption = {
        xAxis: {
          type: 'category',
          axisLabel: {
            'interval': 0
          },
          data: ['08:00', '09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00', '00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00', '08:00']
        },
        yAxis: {
          data: [''],
          axisTick: { show: false },
          axisLine: { show: false }
        },
        grid: {
          'left': 20,
          'right': 0,
          'top': 30,
          'bottom': 5,
          'width': 'auto',
          'height': 100,
          'containLabel': true
        },
        series: [{
        // current data
          type: 'scatter',
          symbolRepeat: 'fixed',
          symbolMargin: '5%',
          symbolClip: true,
          symbolSize: 30,
          data: [{ value: 10, symbol: normalSymbol }, { value: 10, symbol: abnormalSymbol }]
        }]
      }
    }
  },
  mounted () {
    this.updateOption()
    this.caseChart()
  }
}
</script>

<style lang="less">
.pd-wrap {
  padding: 26px;
  label {
    width:42px;
    margin-right:15px;
    color:#fff;
  }
}
.filter-wrap {
  display: flex;
  align-items: center;
  .item {
    display: flex;
    align-items: center;
    & + .item {
      margin-left: 25px;
    }
    label {
      margin-right: 15px;
    }
  }
}
.water-flow {
  width:calc(100%-57px);
  margin-left:57px;
  height: 300px;
}
.flex-wrap {
  display:flex;
  align-items: center;
}
.team {
  height:80px;
  display:flex;
  flex: 1;
  text-align: center;
  padding-left:28px;
  .day {
    height:80px;
    background:rgba(255,255,255,.7);
    width:43%;
    color:#333;
    line-height:80px;
  }
  .night {
    height:80px;
    width:70%;
    line-height:80px;
    color:#fff;
    background:rgba(0,0,0,.6);
  }
}
.case-chart {
  height:150px;
  flex:1;
}
.history-video {
  flex:1;
  margin-left:25px;
  video {
    width:100%;
    height:150px;
  }
}
</style>
