<template>
  <div class="pd-wrap">
    <div class="filter-wrap">
      <div class="item">
        <label>工艺段</label>
        <Select v-model="group" @on-change="conditionChange($event,true)" style="width:200px">
          <Option
            v-for="item in dataSourceList"
            :value="item.name"
            :key="item.name"
            >{{ item.name }}</Option
          >
        </Select>
      </div>
      <div class="item">
        <label>曲线</label>
        <Select @on-change="conditionChange"  multiple v-model="curve" style="min-width:200px">
          <Option
            v-for="item in curveList"
            :value="item.value"
            :key="item.name"
            >{{ item.name }}</Option
          >
        </Select>
      </div>
      <div class="item">
        <label>日期</label>
        <DatePicker
          @on-change="conditionChange"
          v-model="date"
          type="daterange"
          placeholder="请选择日期"
          style="width: 200px"
        ></DatePicker>
      </div>
    </div>
    <div class="history-content">
      <div v-show="symbolShow" class="symbol-wrap">
          <div class="symbol-box" style="margin-top:80px;">
             <img width="80" src="./line.png" alt="">
             <p>流量液位</p>
          </div>
          <div class="symbol-box" style="margin-top:130px;">
             <img width="80" src="./line.png" alt="">
             <p>电压电流</p>
          </div>
          <div class="symbol-box" style="margin-top:80px;">
             <img width="40" src="./bc1.png" alt="">
             <p>班次</p>
          </div>
          <div class="symbol-box" style="margin-top:25px;">
             <img width="45" src="./rl.png" alt="">
             <p>事件</p>
          </div>
          <div class="symbol-box" style="margin-top:25px;">
             <img width="50" src="./video.png" alt="">
             <p>视频</p>
          </div>
      </div>
      <div class="water-flow">
        <BaseChart @c-click="chartClick" :option="option" />
      </div>
      <div class="simple-map">
         <img src="./map.png" width="300" alt="">
         <div v-if="activeSource" class="location-mark" :style="{left: activeSource.x + 'px',top: activeSource.y + 'px'}">
           {{activeSource.name}}
           <img src="./location.png" alt="">
          </div>
      </div>
    </div>
       <Modal
        v-model="videoModal"
        title="视频"
        :footer-hide='true'
        @on-cancel="videoModal = false">
        <video v-if="videoModal" autoplay  controls="controls" class="video_fill" webkit-playsinline="isiPhoneShowPlaysinline" playsinline="isiPhoneShowPlaysinline" origin_src="~@/assets/hs.mp4" src="~@/assets/hs.mp4" preload="metadata"> 您的浏览器不支持 video 标签</video>
    </Modal>
  </div>
</template>

<script>
import BaseChart from '@/components/base-chart'
import { getChartDate, getDayList } from './model'
export default {
  components: {
    BaseChart
  },
  data () {
    return {
      option: {},
      caseOption: {},
      dataSourceList: [
        { name: '碳源投加间', x: 93, y: 280 },
        { name: 'PAC加药间', x: 93, y: 280 },
        { name: '鼓风机房', x: 93, y: 202 },
        { name: 'AO生化池', x: 204, y: 280 },
        { name: '污泥脱水间', x: 69, y: 357 }
      ],
      curveList: [
        { group: 0, name: '1#流量计', value: 'fw' },
        { group: 0, name: '2#流量计', value: 'fw1' },
        { group: 0, name: '3#流量计', value: 'fw2' },
        { group: 1, name: '1#液位计', value: 'yw' },
        { group: 1, name: '2#液位计', value: 'yw1' },
        { group: 2, name: '1#隔膜泵电压', value: 'dy' },
        { group: 2, name: '2#隔膜泵电压', value: 'dy1' },
        { group: 2, name: '3#隔膜泵电压', value: 'dy2' },
        { group: 3, name: '1#隔膜泵电流', value: 'dl' },
        { group: 3, name: '2#隔膜泵电流', value: 'dl1' },
        { group: 3, name: '3#隔膜泵电流', value: 'dl2' }

      ],
      curve: [],
      group: '',
      date: '',
      end: 10,
      videoModal: false,
      activeSource: null,
      symbolShow: false
    }
  },
  methods: {
    chartClick (params) {
      if (params.seriesName === '视频') {
        this.videoModal = true
      }
    },
    conditionChange (val, flag) {
      if (flag === true) this.activeSource = this.dataSourceList.find(v => v.name === val)
      if (this.curve.length && this.group && this.date[0]) {
        this.end = Math.floor(10 / getDayList(this.date[0], this.date[1]).length)
        let { series, xAxisData } = getChartDate({ curveList: this.curveList, nameList: this.curve, date: this.date })
        this.updateOption(series, xAxisData)
        this.symbolShow = true
      }
    },
    updateOption (series, xAxisData) {
      this.option = {
        legend: {
          show: true,
          type: 'scroll',
          right: 10,
          bottom: 'auto',
          left: 'auto',
          orient: 'horizontal',
          align: 'auto',
          formatter: null,
          icon: 'circle',
          itemWidth: 10,
          itemHeight: 10,
          textStyle: {
            fontSize: 12,
            color: '#fff'
          }
        },
        grid: [
          {
            'left': 10,
            'right': 30,
            'width': 'auto',
            'height': '200',
            'containLabel': true
          },
          {
            'left': 20,
            'right': 25,
            'top': '280',
            'width': 'auto',
            'height': '200',
            'containLabel': true
          },
          {
            'left': 50,
            'right': 50,
            'top': '510',
            'width': 'auto',
            'height': '80px',
            'containLabel': true
          },
          {
            'left': 50,
            'right': 50,
            'top': '600',
            'width': 'auto',
            'height': '80px',
            'containLabel': true
          },
          {
            'left': 50,
            'right': 50,
            'top': '700',
            'width': 'auto',
            'height': '80px',
            'containLabel': true
          }
        ],
        'tooltip': {
          'trigger': 'axis',
          'axisPointer': {
            'type': 'shadow'
          },
          formatter: param => {
            let str = param[0].axisValueLabel + '<br />'
            if (param[0].seriesName === '班次') {
              str += `值班人员: ${param[0].data.name}<br />`
            } else if (param[0].seriesName === '事件') {
              str += `事件: ${param[0].data.des || '无'}<br />`
            } else if (param[0].seriesName === '视频') {
              str += `视频: ${param[0].data.des || '无'}<br />`
            } else {
              param.forEach(v => {
                str += `${v.seriesName}: ${v.value}<br />`
              })
            }
            return str
          }
        },
        dataZoom: [
          {
            show: true,
            realtime: true,
            start: 0,
            end: this.end,
            textStyle: {
              color: '#fff'
            },
            xAxisIndex: [0, 1, 2, 3, 4]
          },
          {
            type: 'inside',
            realtime: true,
            start: 0,
            end: this.end,
            xAxisIndex: [0, 1, 2, 3, 4]
          }
        ],
        'xAxis': [
          {
            'type': 'category',
            data: xAxisData,
            show: false,
            axisLabel: {
              'interval': 0
            },
            gridIndex: 0
          },
          {
            'type': 'category',
            data: xAxisData,
            axisLabel: {
              'interval': 0
            },
            gridIndex: 1
          },
          {
            'type': 'category',
            data: xAxisData,
            show: false,
            axisLabel: {
              'interval': 0
            },
            gridIndex: 2
          },
          {
            'type': 'category',
            data: xAxisData,
            show: false,
            axisLabel: {
              'interval': 0
            },
            gridIndex: 3
          },
          {
            'type': 'category',
            data: xAxisData,
            show: false,
            axisLabel: {
              'interval': 0
            },
            gridIndex: 4
          }
        ],
        'yAxis': [
          {
            'gridIndex': 0,
            'type': 'value',
            'name': '流量(L/H)'
          },
          {
            'gridIndex': 0,
            max: 10,
            type: 'value',
            'name': '液位(M)'
          },
          {
            'gridIndex': 1,
            'type': 'value',
            'name': '电压(V)'
          },
          {
            'gridIndex': 1,
            type: 'value',
            'name': '电流(A)'
          },
          {
            'gridIndex': 2,
            type: 'value',
            axisLine: {
              show: false
            },
            axisTick: {
              show: false
            },
            axisLabel: {
              show: false
            },
            offset: 10,
            'name': '班次',
            nameTextStyle: {
              color: 'rgba(0,0,0,0)'
            }
          },
          {
            'gridIndex': 3,
            type: 'value',
            axisLine: {
              show: false
            },
            max: 10,
            axisTick: {
              show: false
            },
            axisLabel: {
              show: false
            },
            offset: 10,
            'name': '事件',
            nameTextStyle: {
              color: 'rgba(0,0,0,0)'
            }
          },
          {
            'gridIndex': 4,
            type: 'value',
            max: 10,
            axisLine: {
              show: false
            },
            axisTick: {
              show: false
            },
            axisLabel: {
              show: false
            },
            offset: 10,
            'name': '视频',
            nameTextStyle: {
              color: 'rgba(0,0,0,0)'
            }
          }
        ],
        'series': series
      }
    }
  },
  mounted () {
  }
}
</script>

<style lang="less">
.pd-wrap {
  padding: 26px;
  height:100%;
  label {
    width:42px;
    margin-right:15px;
    color:#fff;
  }
}
.filter-wrap {
  display: flex;
  align-items: center;
  .item {
    display: flex;
    align-items: center;
    & + .item {
      margin-left: 25px;
    }
    label {
      margin-right: 15px;
    }
  }
}
.symbol-wrap {
  width:100px;
  .symbol-box {
    text-align: center;
    color:#96dee8;
  }
}
.history-content {
  display:flex;
}
.simple-map {
  width:300px;
  position: relative;
}
.water-flow {
  // height: calc(100% - 84px);
  flex:1;
  height:870px;
}
.flex-wrap {
  display:flex;
  align-items: center;
}
.team {
  height:80px;
  display:flex;
  flex: 1;
  text-align: center;
  padding-left:28px;
  .day {
    height:80px;
    background:rgba(255,255,255,.7);
    width:43%;
    color:#333;
    line-height:80px;
  }
  .night {
    height:80px;
    width:70%;
    line-height:80px;
    color:#fff;
    background:rgba(0,0,0,.6);
  }
}
.case-chart {
  height:150px;
  flex:1;
}
.history-video {
  flex:1;
  margin-left:25px;
  video {
    width:100%;
    height:150px;
  }
}
.video_fill {
  width:100%;
  object-fit: fill;
  max-height: 400px;
}
.location-mark {
  position: absolute;
  text-align: center;
  color:red;
  img {
    display:block;
    width:36px;
    margin:0 auto;
  }
}
</style>
