<template>
  <canvas  ref="canvas" width="300" height="500"></canvas>
</template>

<script>
export default {
  data () {
    return {
      drawList: [
        { x: 1, y: 1, lineColor: '#ed4014', fillColor: 'rgba(0,0,0,0)', width: 299, height: 499 },
        { x: 10, y: 10, lineColor: '#fff', fillColor: '#96dee8', width: 100, height: 60, active: false, text: { des: '粗格栅', color: '' } },
        { x: 190, y: 10, lineColor: '#fff', fillColor: '#96dee8', width: 100, height: 60, active: false, text: { des: '细格栅', color: '' } },
        { x: 10, y: 120, lineColor: '#fff', fillColor: '#96dee8', width: 80, height: 100, active: false, text: { des: '碳源投加间', color: '' } },
        { x: 10, y: 240, lineColor: '#fff', fillColor: '#96dee8', width: 80, height: 100, active: false, text: { des: 'PAC加药间', color: '' } },
        { x: 10, y: 10, lineColor: '#fff', fillColor: '#96dee8', width: 100, height: 60, active: false, text: { des: '鼓风机房', color: '' } },
        { x: 10, y: 10, lineColor: '#fff', fillColor: '#96dee8', width: 100, height: 60, active: false, text: { des: 'AO生化池', color: '' } }
        { x: 10, y: 10, lineColor: '#fff', fillColor: '#96dee8', width: 100, height: 60, active: false, text: { des: '污泥脱水间', color: '' } }

      ]
    }
  },
  methods: {
    drawRectangle (context, { x, y, lineColor, fillColor, width, height, active, text }) {
      context.save()
      context.fillStyle = active ? '#ed4014' : fillColor
      context.strokeStyle = lineColor
      context.lineWidth = 2
      context.beginPath()
      context.moveTo(x, y)
      context.lineTo(width + x, y)
      context.lineTo(width + x, height + y)
      context.lineTo(x, height + y)
      context.lineTo(x, y)
      context.closePath()
      context.stroke()
      context.fill()
      text && this.drawText(context, { x: x + width / 2, y: y + height / 2, text })
    },
    drawText (context, { x, y, text }) {
      context.font = '14px Helvetica'
      context.fillStyle = '#f00'
      context.textBaseline = 'middle'
      context.textAlign = 'center'
      context.fillText(text.des, x, y)
    },
    draw () {
      const myCanvas = this.$refs.canvas
      const context = myCanvas.getContext('2d')
      context.clearRect(0, 0, 300, 500)
      this.drawList.forEach(v => this.drawRectangle(context, v))
    }
  },
  mounted () {
    this.draw()
  }
}
</script>

<style lang="less" scoped>
</style>
