<template>
  <div class="alarm-window">
      <div class="icon-box"><Icon size="34" :color="alarmLevel" type="md-volume-up" /><Icon size="28" color="#fff" type="md-sync" /></div>
      <div>报警等级：<span :style="{color:alarmLevel}">{{alarmLevelList[alarmLevel].msg}}</span></div>
      <div>报警内容：碳源加药间1#加药泵故障</div>
      <div>提示：已自动启用2#备用泵，生产运行正常。</div>
      <div>分配人员：xx</div>
  </div>
</template>

<script>
export default {
  props: {
    alarmLevel: {
      type: String,
      default: 'red'
    }
  },
  data () {
    return {
      alarmLevelList: {
        red: { msg: '红色' },
        orange: { msg: '橙色' },
        yellow: { msg: '黄色' }
      }
    }
  }
}
</script>

<style lang="less">
.alarm-window {
  color:#fff;
  padding:10px;
  line-height:2;
  .icon-box {
    display:flex;
    justify-content: space-between;
    align-items: center;
    i {
      cursor: pointer;
    }
  }
}
</style>
