<template>
  <div class="factory-overview">
     <div class="data-list parameter-list">
        <div class="text-center">进水水质</div>
        <div class="item" v-for="(item,index) in list" :key="index">
            {{item.name}}：{{item.value}}
        </div>
     </div>
     <div class="data-list-out parameter-list">
        <div class="text-center">出水水质</div>
        <div class="item" v-for="(item,index) in list" :key="index">
            {{item.name}}：{{item.value}}
        </div>
     </div>
      <img class="cover-img" src="./map.jpg" alt="">
      <div class="machine-info" style="top:26%;left:28%;">
        <p>废水收集池：</p>
        <p>实时液位：5M</p>
     </div>
      <div class="machine-info" style="top:37%;left:23%;">
        <p>事故池：</p>
        <p>实时液位：5M</p>
     </div>
      <div class="machine-info" style="top:46%;left:23%;">
        <p>除油池：</p>
        <p>实时液位：5M</p>
     </div>
      <div class="machine-info" style="top:42%;left:10%;">
        <p>提升泵房：</p>
        <p>进水COD：66mg/L</p>
        <p>进水BOD：54mg/L</p>
        <p>进水TP：30mg/L</p>
        <p>进水TN：25mg/L</p>
        <p>实时液位：5M</p>
      </div>
      <div class="machine-info" style="top:18%;left:65%;">
        <p>加药间：</p>
        <p>PAC投加量：</p>
        <p>PAM投加量：</p>
        <p>AI计算投加量：</p>
        <p>AI计算投加量：</p>
        <p>AI计算投加量：</p>
        <p>AI计算投加量：</p>
        <p>所需处理水量：</p>
        <p><Button type="dashed"  to="/dataDriven" ghost>D+</Button></p>
      </div>
      <div class="machine-info" style="top:28%;left:75%;">
        <p>风机房：</p>
        <p>风机电流：80A</p>
        <p>实时风量：300M³/H</p>
        <p><Button type="dashed" to="/dataDriven" ghost>D+</Button></p>
      </div>
      <div class="machine-info" style="top:27%;left:86%;">
        <p>高效：</p>
        <p>SS：5g/L</p>
        <p>实时液位：5M</p>
      </div>
      <div class="machine-info" style="top:42%;left:42%;">
        <p>气浮池：</p>
        <p>COD：66mg/L</p>
        <p>BOD：54mg/L</p>
        <p>SS：5g/L</p>
        <p>实时液位：5M</p>
      </div>
      <div class="machine-info" style="top:45%;left:59%;">
        <p>生物池：</p>
        <p>DO：3mg/L</p>
        <p>COD：66mg/L</p>
        <p>BOD：54mg/L</p>
        <p>SS：5g/L</p>
        <p>实时液位：5M</p>
      </div>
      <div class="machine-info" style="top:47%;left:73%;">
        <p>二沉池：</p>
        <p>SS：5g/L</p>
        <p>实时液位：5M</p>
      </div>
      <div class="machine-info" style="top:41%;left:88%;">
        <p>排水泵站：</p>
        <p>出水COD：</p>
        <p>出水BOD：</p>
        <p>出水TP：</p>
        <p>出水TN：</p>
        <p>实时液位：5M</p>
      </div>
  </div>
</template>

<script>
import AlterWindow from './alter-window'
export default {
  data () {
    return {
      list: [{ name: 'DO实时数据', value: '3mg/L' }, { name: 'SS实时数据', value: '5g/L' }, { name: '实时爆气量', value: '300mg/H' }, { name: '生物池存水量', value: '15m3' }, { name: 'AI计算需求量', value: '280m3/H' }],
      showAlarm: false
    }
  },
  mounted () {
    setTimeout(() => {
      this.$Notice.open({
        duration: 0,
        render: h => {
          return h(AlterWindow, { props: { alarmLevel: 'red' } })
        }
      })
    }, 500)
  },
  destroyed () {
    this.$Notice.destroy()
  }
}
</script>

<style lang="less">
.factory-overview {
    overflow: hidden;
    position: relative;
     .cover-img {
     display:block;
     width: 100%;
     height: 100vh;
   }
   .data-list {
     position: absolute;
     top:10px;
     left:10px;
   }
   .data-list-out {
     position: absolute;
     top:10px;
     left:200px;
   }
}
.text-center {
  text-align: center;
}
.fade-enter-active, .fade-leave-active {
  transition: all .5s;
}
.fade-enter, .fade-leave-to  {
  right:-100%;
}
body .ivu-notice-notice {
  box-shadow: 0 0 0;
  background:none;
  background-color: rgba(0,0,0,.8);
}
</style>
