<template>
  <div class="accurate-BQ">
     <div class="data-list parameter-list">
        <div class="item" v-for="(item,index) in list" :key="index">
            {{item.name}}：{{item.value}}
        </div>
     </div>
     <img class="cover-img" src="./bq.png" alt="">
     <div class="machine-info" style="top:7%;left:36%;">
        <p>状态：<span class="status-dot status-success"></span></p>
        <p>实时电流：150A</p>
        <p>实时温度：80°</p>
     </div>
     <div class="machine-info" style="top:13%;left:48%;">
        <p>状态：<span class="status-dot status-error"></span></p>
        <p>实时电流：150A</p>
        <p>实时温度：80°</p>
     </div>
     <div class="machine-info" style="top:21%;left:58%;">
        <p>状态：<span class="status-dot status-warning"></span></p>
        <p>实时电流：150A</p>
        <p>实时温度：80°</p>
     </div>
     <div class="machine-info" style="top:30%;left:69%;">
        <p>状态：<span class="status-dot status-success"></span></p>
        <p>实时电流：150A</p>
        <p>实时温度：80°</p>
     </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      list: [{ name: 'DO实时数据', value: '3mg/L' }, { name: 'MLSS实时数据', value: '5g/L' }, { name: '实时爆气量', value: '300mg/H' }, { name: '生物池存水量', value: '15m3' }, { name: 'AI计算需求量', value: '280m3/H' }]
    }
  }
}
</script>

<style lang="less">
.accurate-BQ {
   position: relative;
   .cover-img {
     display:block;
     width: 100%;
     height: 100vh;
   }
   .data-list {
     position: absolute;
     top:10px;
     left:10px;
   }
}
.machine-info {
  position: absolute;
  background-color: rgba(0,0,0,.4);
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,.2);
  transition: all .2s ease-in-out;
  color:#fff;
  padding:10px;
}
.parameter-list {
  padding:5px 0;
  color:#fff;
  background-color: rgba(0,0,0,.4);
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,.2);
  transition: all .2s ease-in-out;
  .item {
    padding:10px 15px;
  }
}
.status-dot {
  display:inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #e8eaec;
  vertical-align: middle;
  &.status-success {
    background: #19be6b;
  }
  &.status-error {
    background: #ed4014
  }
  &.status-warning {
    background: #f90
  }
}
</style>
