<template>
  <div class="pd-wrap">
    <div class="panel-wrap">
      <div class="panel-title"><span class="panel-title-font"></span>数据评价</div>
      <div class="panel-content" >
        <div style="height:300px;width:1000px;position:relative;">
             <BaseChart @legendselectchanged="legendselectchanged"  @c-click="chartClick" :option="option" />
             <div class="dimension-item" style="left:138px;top:-13px;">
                 <NumberCard :data="radarData[selectdFac][0]"/>
                 <img width="24" height="24" src="./ry.png" alt="">
             </div>
             <div class="dimension-item" style="left:6px;top:59px;">
                 <NumberCard :data="radarData[selectdFac][1]"/>
                 <img width="36" height="36" src="./cx.png" alt="">
             </div>
             <div class="dimension-item" style="left:9px;top:199px;">
                 <NumberCard :data="radarData[selectdFac][2]"/>
                 <img width="26" height="26" src="./zl.png" alt="">
             </div>
             <div class="dimension-item" style="left:310px;top:272px;">
                 <img width="26" height="26" src="./fh.png" alt="">
                 <NumberCard :data="radarData[selectdFac][3]"/>
             </div>
             <div class="dimension-item" style="left:438px;top:197px;">
                 <img width="26" height="26" src="./wb.png" alt="">
                 <NumberCard :data="radarData[selectdFac][4]"/>
             </div>
             <div class="dimension-item" style="left:439px;top:64px;">
                 <img width="26" height="26" src="./cb.png" alt="">
                 <NumberCard :data="radarData[selectdFac][5]"/>
             </div>
        </div>
      </div>
    </div>
     <div class="panel-wrap">
      <div class="panel-title"><span class="panel-title-font"></span>{{activeLabel}}维度</div>
      <div class="panel-content">
        <div class="panel-title"><span class="panel-title-font"></span>今年</div>
         <div class="flex-wrap">
              <div style="height:200px;width:70%;">
                <BaseChart  :option="zxOption" />
              </div>
              <div  style="height:200px;width:30%;">
                    <BaseChart  :option="pieOption" />
              </div>
         </div>
         <div class="panel-title"><span class="panel-title-font"></span>上一年</div>
          <div style="height:200px;width:70%;">
                <BaseChart  :option="zxOption1" />
          </div>
      </div>
    </div>
  </div>
</template>

<script>
import BaseChart from '@/components/base-chart'
import NumberCard from '@/components/number-card'
export default {
  components: {
    BaseChart,
    NumberCard
  },
  data () {
    return {
      option: {},
      selectdFac: '水厂1',
      radarData: {
        '水厂1': [79, 66, 82, 87, 76, 88],
        '水厂2': [69, 86, 82, 87, 76, 98],
        '水厂3': [59, 66, 82, 97, 76, 88]
      },
      activeLabel: '人员',
      zxOption: {},
      zxOption1: {},
      dataList: {
        '人员': ['工作态度', '工作能力', '工作负荷', '工作成绩'],
        '创新': ['感知水平', '信息化水平', '数据质量', '移动业务'],
        '质量': ['周期水质达标率', '周期泥质达标率', '污染物消减量指数', '污染综合削减指数'],
        '负荷': ['周期水厂运行率', '周期水力负荷率', '周期COD符合率'],
        '维保': ['设备综合完好率', '主要设备完好率', '无备用设备完好率', '主要构建物完好率'],
        '成本': ['周期单位污水处理量电耗', '周期单位耗氧污染物削减量电耗', '周期单位干固体脱水药耗', '单位污水处理量用工人数']
      },
      pieOption: {},
      pieData: {
        '人员': [
          { name: '态度', value: 55 },
          { name: '能力', value: 15 },
          { name: '负荷', value: 10 },
          { name: '成绩', value: 20 }
        ],
        '创新': [
          { name: '感知水平', value: 55 },
          { name: '信息化水平', value: 15 },
          { name: '数据质量', value: 10 },
          { name: '移动业务', value: 20 }
        ],
        '质量': [
          { name: '周期水质达标率', value: 55 },
          { name: '周期泥质达标率', value: 15 },
          { name: '污染物消减量指数', value: 10 },
          { name: '污染综合削减指数', value: 20 }
        ],
        '负荷': [
          { name: '周期水厂运行率', value: 50 },
          { name: '周期水力负荷率', value: 25 },
          { name: '周期COD符合率', value: 25 }
        ],
        '维保': [
          { name: '设备综合完好率', value: 25 },
          { name: '主要设备完好率', value: 25 },
          { name: '无备用设备完好率', value: 25 },
          { name: '主要构建物完好率', value: 25 }
        ],
        '成本': [
          { name: '周期单位污水处理量电耗', value: 35 },
          { name: '周期单位耗氧污染物削减量电耗', value: 15 },
          { name: '周期单位干固体脱水药耗', value: 25 },
          { name: '单位污水处理量用工人数', value: 25 }
        ]
      }
    }
  },
  methods: {
    setOption () {
      this.option = {
        legend: {
          right: '20%',
          data: [{ name: '水厂1', icon: 'circle' }, { name: '水厂2', icon: 'circle' }, { name: '水厂3', icon: 'circle' }],
          itemGap: 20,
          textStyle: {
            color: '#fff',
            fontSize: 14
          },
          selectedMode: 'single',
          orient: 'vertical'
        },
        tooltip: {
          confine: true,
          textStyle: { 'fontSize': 12 },
          formatter: { '_custom': { 'type': 'function', 'display': '<span>?</span> (param)' } }
        },
        radar: [{ triggerEvent: true,
          indicator: [
            { 'text': '人员', 'max': 100 },
            { 'text': '创新', 'max': 100 },
            { 'text': '质量', 'max': 100 },
            { 'text': '负荷', 'max': 100 },
            { 'text': '维保', 'max': 100 },
            { 'text': '成本', 'max': 100 }
          ],
          radius: '80%',
          center: ['30%', '50%'],
          startAngle: 90,
          splitNumber: 4,
          name: { 'formatter': '{value}', 'textStyle': { 'color': '#fff' }, 'fontSize': 12 },
          axisLine: { 'lineStyle': { 'color': 'rgba(100, 100, 100,0.2)' } },
          splitLine: { 'lineStyle': { 'color': 'rgba(255, 255, 255, 0)' } },
          splitArea: { 'areaStyle': { 'color': ['#2c2c2d', '#333334', '#3a3a3b', '#333334'] } } }],
        series: [
          { 'type': 'radar', 'data': [{ 'value': this.radarData['水厂1'], 'name': '水厂1', 'symbol': 'none', 'type': 'radar', 'lineStyle': { 'width': 1, 'opacity': 0.4 }, 'areaStyle': { 'opacity': 0.2 } }] },
          { 'type': 'radar', 'data': [{ 'value': this.radarData['水厂2'], 'name': '水厂2', 'symbol': 'none', 'type': 'radar', 'lineStyle': { 'width': 1, 'opacity': 0.4 }, 'areaStyle': { 'opacity': 0.2 } }] },
          { 'type': 'radar', 'data': [{ 'value': this.radarData['水厂3'], 'name': '水厂3', 'symbol': 'none', 'type': 'radar', 'lineStyle': { 'width': 1, 'opacity': 0.4 }, 'areaStyle': { 'opacity': 0.2 } }] }

        ]
      }
    },
    getRandom (m, n) {
      return Math.floor(Math.random() * (m - n) + n)
    },
    setZXOption (val) {
      let baseOpt = {
        'type': 'line',
        'symbolSize': 5,
        'name': '系统程控率',
        'data': [],
        'smooth': true
      }
      let series = this.dataList[this.activeLabel].map(v => {
        return Object.assign({}, baseOpt, { name: v, data: Array(12).fill('').map(c => this.getRandom(1, 101)) })
      })
      this[val] = {
        legend: {
          show: true,
          type: 'scroll',
          right: 10,
          bottom: 'auto',
          left: 'auto',
          orient: 'horizontal',
          align: 'auto',
          formatter: null,
          icon: 'circle',
          itemWidth: 10,
          itemHeight: 10,
          textStyle: {
            fontSize: 12,
            color: '#fff'
          }
        },
        grid: {
          'left': 0,
          'right': 0,
          'top': 30,
          'bottom': 20,
          'width': 'auto',
          'height': 'auto',
          'containLabel': true
        },
        'tooltip': {
          'trigger': 'axis',
          'axisPointer': {
            'type': 'shadow'
          },
          formatter: {
            '_custom': {
              'type': 'function',
              'display': '<span>?</span> formatter(param)'
            }
          }
        },
        'xAxis': [
          {
            'type': 'category',
            'data': ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
            'axisLabel': {
              'interval': 0
            }
          }
        ],
        'yAxis': [
          {
            'type': 'value',
            max: 100
          }
        ],
        'series': series,
        'dataZoom': []
      }
    },
    setPieOption () {
      this.pieOption = {
        tooltip: {
          trigger: 'item',
          formatter: '{a} <br/>{b} : {c} ({d}%)'
        },
        series: [
          {
            name: '分值占比',
            type: 'pie',
            radius: '55%',
            center: ['50%', '50%'],
            data: this.pieData[this.activeLabel],
            emphasis: {
              itemStyle: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowColor: 'rgba(0, 0, 0, 0.5)'
              }
            }
          }
        ]
      }
    },
    chartClick (param) {
      this.activeLabel = param.name
      this.setZXOption('zxOption')
      this.setZXOption('zxOption1')
      this.setPieOption()
    },
    legendselectchanged (param) {
      this.selectdFac = param.name
      this.setZXOption('zxOption')
      this.setZXOption('zxOption1')
    }
  },
  mounted () {
    this.setOption()
    this.setZXOption('zxOption')
    this.setZXOption('zxOption1')
    this.setPieOption()
  }
}
</script>

<style lang="less">
.dimension-item {
  position: absolute;
  display:flex;
  align-items: center;
  img {
    margin:0 8px;
  }
}
</style>
