<template>
  <div class="accurate-BQ">
     <div class="data-list parameter-list">
        <div class="item" v-for="(item,index) in list" :key="index">
            {{item.name}}：{{item.value}}
        </div>
     </div>
     <img class="cover-img" src="./medicine.jpg" alt="">
      <div class="machine-info" style="top:30%;left:85%;">
        <p>加药泵电流：50A</p>
        <p>加药泵温度：50°</p>
        <p>加药泵频率：50Hz</p>
     </div>
      <div class="machine-info" style="top:40%;left:85%;">
        <p>加药泵电流：50A</p>
        <p>加药泵温度：50°</p>
        <p>加药泵频率：50Hz</p>
     </div>
      <div class="machine-info" style="top:50%;left:85%;">
        <p>加药泵电流：50A</p>
        <p>加药泵温度：50°</p>
        <p>加药泵频率：50Hz</p>
     </div>
      <div class="machine-info" style="top:4%;left:40%;">
        <p>加药泵电流：50A</p>
        <p>加药泵温度：50°</p>
        <p>加药泵频率：50Hz</p>
     </div>
      <div class="machine-info" style="top:4%;left:50%;">
        <p>加药泵电流：50A</p>
        <p>加药泵温度：50°</p>
        <p>加药泵频率：50Hz</p>
     </div>
      <div class="machine-info" style="top:4%;left:60%;">
        <p>加药泵电流：50A</p>
        <p>加药泵温度：50°</p>
        <p>加药泵频率：50Hz</p>
     </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      list: [{ name: 'COD实时数据', value: '3mg/L' }, { name: 'BOD实时数据', value: '4mg/L' }, { name: 'MLSS实时数据', value: '5g/L' }, { name: '实时碳源投加', value: '300mg/H' }, { name: '生物池存水量', value: '15m3' }, { name: 'AI计算需求量', value: '280m3/H' }]

    }
  }
}
</script>

<style>

</style>
