<template>
  <div class="pd-wrap">
    <div class="panel-wrap">
      <div class="panel-title"><span class="panel-title-font"></span>报警记录</div>
      <div class="panel-content">
        <table cellspacing="0">
          <thead>
            <tr>
              <th>时间</th>
              <th>设备</th>
              <th>故障</th>
              <th>处置人员</th>
            </tr>
          </thead>
          <tbody>
          <tr class="waringDetail"><td>2019-12-30 11:03:03</td><td>机组环境</td><td>余氯值过高</td><td>暂无</td><td></td></tr><tr class="waringDetail"><td>2019-12-30 10:09:35</td><td>机组环境</td><td>水位过高</td><td>暂无</td><td></td></tr><tr class="waringDetail"><td>2019-12-30 10:09:35</td><td>机组环境</td><td>水位过高</td><td>暂无</td><td></td></tr><tr class="waringDetail"><td>2019-12-30 10:04:42</td><td>机组环境</td><td>余氯值过高</td><td>暂无</td><td></td></tr><tr class="waringDetail"><td>2019-12-30 09:08:35</td><td>机组环境</td><td>水位过高</td><td>暂无</td><td></td></tr><tr class="waringDetail"><td>2019-12-30 09:08:35</td><td>机组环境</td><td>水位过高</td><td>暂无</td><td></td></tr><tr class="waringDetail"><td>2019-12-30 08:12:41</td><td>机组环境</td><td>水位过高</td><td>暂无</td><td></td></tr><tr class="waringDetail"><td>2019-12-30 08:12:41</td><td>机组环境</td><td>水位过高</td><td>暂无</td><td></td></tr><tr class="waringDetail"><td>2019-12-30 08:08:09</td><td>机组环境</td><td>余氯值过高</td><td>暂无</td><td></td></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="less" scoped>
.record-table {
  padding:20px;
  background-size: 100% 100%;
  border-radius:5px;
  background:rgb(37, 37, 38);
}
table {
  width:100%;
  tbody tr:nth-child(even) {
     background:#333333;
  }
}
th {
    height: 40px;
    text-align: center;
    color:#fff;
    background: #252525;
}
tr {
  background: #2c2c2c;
}
td {
    height: 40px;
    text-align: center;
    color:#fff;
}
</style>
