<template>
  <div class="pd-wrap">
    <row :gutter="24">
     <i-col span="12">
    <div class="panel-wrap" style="height:292px;">
      <div class="panel-title"><span class="panel-title-font"></span>水质指标：进水/出水：氨氮 COD TP TN SS</div>
      <div class="panel-content">
        <Row>
          <i-col style="line-height:2;" span="12">
            <div>进水指标</div>
            <div>氨氮:  <span class="text-color">22.78</span>mg/l</div>
            <div>COD:  <span class="text-color">22.78</span>mg/l</div>
            <div>TP:  <span class="text-color">22.78</span>mg/l</div>
            <div>TN:  <span class="text-color">22.78</span>mg/l</div>
            <div>SS:  <span class="text-color">22.78</span>mg/l</div>
            <div>PH:  <span class="text-color">8.4</span></div>
          </i-col>
          <i-col style="line-height:2;" span="12">
            <div>出水指标</div>
            <div>氨氮: <span class="text-color">22.78</span>mg/l</div>
            <div>COD: <span class="text-color">22.78</span>mg/l</div>
            <div>TP: <span class="text-color">22.78</span>mg/l</div>
            <div>TN: <span class="text-color">22.78</span>mg/l</div>
            <div>SS: <span class="text-color">22.78</span>mg/l</div>
            <div>PH: <span class="text-color">8.4</span></div>
          </i-col>
        </Row>
      </div>
    </div>
    </i-col>
    <i-col span="12">
    <div class="panel-wrap">
      <div class="panel-title"><span class="panel-title-font"></span>药耗-实时</div>
      <div class="panel-content">
        <Row>
          <i-col span="6">
            <div>PAC</div>
             <div><span class="text-color">0.05</span>mg/L</div>
          </i-col>
          <i-col span="6">
            <div>PAM</div>
             <div><span class="text-color">0.05</span>mg/L</div>
          </i-col>
          <i-col span="6">
            <div>碳源</div>
             <div><span class="text-color">0.05</span>mg/L</div>
          </i-col>
          <i-col span="6">
            <div>次氯酸钠</div>
            <div><span class="text-color">0.05</span>mg/L</div>
          </i-col>
        </Row>
      </div>
      <div class="panel-title" style="margin-top:20px;"><span class="panel-title-font"></span>电力数据-实时</div>
      <div class="panel-content">
        <Row>
          <i-col span="6">
            <div>总有功</div>
            <div><span class="text-color">60</span>KW/h</div>
          </i-col>
          <i-col span="6">
            <div>总无功</div>
            <div><span class="text-color">60</span>KW/h</div>
          </i-col>
          <i-col span="6">
            <div>鼓风机房</div>
            <div><span class="text-color">60</span>KW/h</div>
          </i-col>
          <i-col span="6">
            <div>PAC加药间</div>
            <div><span class="text-color">60</span>KW/h</div>
          </i-col>
          <i-col style="margin-top:10px;"  span="6">
            <div>动力耗电</div>
            <div><span class="text-color">60</span>KW/h</div>
          </i-col>
          <i-col style="margin-top:10px;" span="6">
            <div>照明耗电</div>
            <div><span class="text-color">60</span>KW/h</div>
          </i-col>
          <i-col style="margin-top:10px;" span="6">
            <div>碳源投加间</div>
            <div><span class="text-color">60</span>KW/h</div>
          </i-col>
          <i-col style="margin-top:10px;" span="6">
            <div>提升泵房</div>
            <div><span class="text-color">60</span>KW/h</div>
          </i-col>
        </Row>
      </div>
    </div>
    </i-col>
     <i-col span="12">
    <div class="panel-wrap">
      <div class="panel-title"><span class="panel-title-font"></span>水处理能力</div>
      <div class="panel-content">
        <Row>
          <i-col span="12">
            <div style="text-align:center;margin-bottom:15px;">平均水力负荷率</div>
            <div style="height:200px;"><BaseChart :option="waterOption1" /></div>
          </i-col>
          <i-col style="margin-top:40px;" span="12">
             <i-col  span="12">
              <div>
                <p>瞬时进水流量</p>
                <p><span class="text-color">123</span>m³/h</p>
              </div>
             </i-col>
             <i-col span="12">
              <div>
                <p>瞬时出水流量</p>
                <p><span class="text-color">123</span>m³/h</p>
              </div>
             </i-col>
             <i-col style="margin-top:50px;" span="12">
              <div>
                <p>日进水量</p>
                <p><span class="text-color">123</span>m³/d</p>
              </div>
             </i-col>
             <i-col style="margin-top:50px;" span="12">
              <div>
                <p>日出水量</p>
                <p><span class="text-color">123</span>m³/d</p>
              </div>
             </i-col>
          </i-col>
        </Row>
      </div>
    </div>
    </i-col>
     <i-col span="12">
    <div style="height:328px;" class="panel-wrap">
      <div class="panel-title"><span class="panel-title-font"></span>水处理过程数据</div>
      <div class="panel-content">
        <Row>
          <i-col style="margin-top:40px;" span="24">
             <i-col  span="12">
              <div>
                <p>污泥浓度MLSS</p>
                <p><span class="text-color">123</span>mg/l</p>
              </div>
             </i-col>
             <i-col span="12">
              <div>
                <p>挥发性污泥浓度MLVSS</p>
                <p><span class="text-color">123</span>mg/l</p>
              </div>
             </i-col>
             <i-col style="margin-top:50px;" span="12">
              <div>
                <p>曝气池溶解氧DO</p>
                <p><span class="text-color">123</span>mg/l</p>
              </div>
             </i-col>
             <i-col style="margin-top:50px;" span="12">
              <div>
                <p>污泥沉降比SV</p>
                <p><span class="text-color">92</span>%</p>
              </div>
             </i-col>
          </i-col>
        </Row>
      </div>
    </div>
    </i-col>
     <i-col span="24">
    <div class="panel-wrap">
      <div class="panel-title"><span class="panel-title-font"></span>污泥处理能力</div>
      <div class="panel-content">
        <Row>
          <i-col span="6">
            <div style="text-align:center;margin-bottom:15px;">脱水前污泥含水率</div>
            <div style="height:200px;"><BaseChart :option="waterOption2" /></div>
          </i-col>
          <i-col span="6">
            <div style="text-align:center;margin-bottom:15px;">脱水后污泥含水率</div>
            <div style="height:200px;"><BaseChart :option="waterOption3" /></div>
          </i-col>
          <i-col span="6">
            <div style="text-align:center;margin-bottom:15px;">污泥回流比</div>
            <div style="height:200px;">
              <BaseChart :option="machineOption" />
            </div>
          </i-col>
           <i-col style="margin-top:40px;" span="6">
             <i-col  span="12">
              <div>
                <p>剩余污泥量（kg/d）</p>
                <p><span class="text-color">3</span></p>
              </div>
             </i-col>
             <i-col span="12">
              <div>
                <p>污泥龄值（d）</p>
                <p><span class="text-color">2</span></p>
              </div>
             </i-col>
             <i-col style="margin-top:50px;" span="12">
              <div>
                <p>脱水后泥饼量（kg/d）</p>
                <p><span class="text-color">500</span></p>
              </div>
             </i-col>
             <i-col style="margin-top:50px;" span="12">
              <div>
                <p>外运泥饼车数（辆）</p>
                <p><span class="text-color">5</span></p>
              </div>
             </i-col>
          </i-col>
        </Row>
      </div>
    </div>
    </i-col>
    <i-col span="24">
    <div class="panel-wrap">
      <div class="panel-title"><span class="panel-title-font"></span>设备数据</div>
      <div class="panel-content">
        <Row>
          <i-col span="8">
            <div style="text-align:center;margin-bottom:15px;">设备使用率</div>
            <div style="height:200px;">
              <BaseChart :option="machineOption1" />
            </div>
          </i-col>
          <i-col span="8">
            <div style="text-align:center;margin-bottom:15px;">全部设备完好率</div>
            <div style="height:200px;">
              <BaseChart :option="machineOption2" />
            </div>
          </i-col>
          <i-col span="8">
            <div style="text-align:center;margin-bottom:15px;">主要工艺设备完好率</div>
            <div style="height:200px;">
              <BaseChart :option="machineOption3" />
            </div>
          </i-col>
          <i-col offset="8" span="12">
            <i-col span="6">
              <div style="text-align:center;margin-bottom:15px;">自控系统健康合格率</div>
              <div style="height:200px;">
                <BaseChart :option="machineOption4" />
              </div>
            </i-col>
            <i-col offset="4" span="6">
              <div style="margin-top:40px;">
                <p>控制回路总数：<span class="text-color">266</span></p>
              </div>
              <div style="margin-top:40px;">
               <p>运行回路总数：<span class="text-color">223</span></p>
              </div>
              <div style="margin-top:40px;">
              <p>控制回路使用率：<span class="text-color">84%</span></p>
              </div>
            </i-col>
          </i-col>
           <i-col span="24">
              <i-col class="text-center" span="24">
                <i-col span="8">
                   <p>系统程控率</p>
                   <p><span class="text-color">94%</span></p>
                </i-col>
                <i-col span="8">
                   <p>闭环连续运行率</p>
                   <p><span class="text-color">95%</span></p>
                </i-col>
                <i-col span="8">
                   <p>控制品质达标率</p>
                   <p><span class="text-color">97.6%</span></p>
                </i-col>
              </i-col>
            </i-col>
            <i-col span="24">
              <div style="height:300px;">
                <BaseChart :option="zxOption" />
              </div>
            </i-col>
        </Row>
      </div>
    </div>
    </i-col>
     </row>
  </div>
</template>

<script>
import BaseChart from '@/components/base-chart'
export default {
  components: {
    BaseChart
  },
  data () {
    return {
      waterOption1: {},
      waterOption2: {},
      waterOption3: {},
      machineOption1: {},
      machineOption: {},
      machineOption2: {},
      machineOption3: {},
      machineOption4: {},
      controlOpt: {},
      xData: ['08:00', '09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00', '00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00', '08:00'],
      zxOption: {}
    }
  },
  methods: {
    setWaterOpt (opt, val) {
      this[opt] = {
        series: [{
          type: 'liquidFill',
          radius: '70%',
          data: [val.value],
          color: val.color || 'rgba(56,154,244,1)',
          label: {
            normal: {
              color: '#fff',
              insideColor: 'transparent',
              textStyle: {
                fontSize: 16,
                fontWeight: 'bold',
                fontFamily: 'Microsoft YaHei'
              }
            }
          },
          outline: {
            show: true,
            borderDistance: 5,
            itemStyle: {
              borderColor: val.color || 'rgba(56,154,244,1)',
              borderWidth: 2
            }
          },
          backgroundStyle: {
            color: val.bgColor || 'rgba(56,154,244,.3)'
          }
        }]

      }
    },
    setMachineOption (opt, val) {
      this[opt] = {
        series: [{
          type: 'pie',
          clockWise: false,
          radius: [60, 70],
          itemStyle: {
            normal: {
              color: val.color || '#389af4',
              shadowColor: val.color || '#389af4',
              shadowBlur: 0,
              label: {
                show: false
              },
              labelLine: {
                show: false
              }
            }
          },
          hoverAnimation: false,
          center: ['50%', '50%'],
          data: [{
            value: val.value,
            label: {
              normal: {
                formatter: function (params) {
                  return params.value + '%'
                },
                position: 'center',
                show: true,
                textStyle: {
                  fontSize: '20',
                  fontWeight: 'bold',
                  color: val.color || '#389af4'
                }
              }
            }
          }, {
            value: 100 - val.value,
            name: 'invisible',
            itemStyle: {
              normal: {
                color: val.bdColor || '#dfeaff'
              },
              emphasis: {
                color: val.bdColor || '#dfeaff'
              }
            }
          }]
        }
        ]
      }
    },
    setZXOption () {
      this.zxOption = {
        legend: {
          show: true,
          type: 'scroll',
          right: 10,
          bottom: 'auto',
          left: 'auto',
          orient: 'horizontal',
          align: 'auto',
          formatter: null,
          icon: 'circle',
          itemWidth: 10,
          itemHeight: 10,
          textStyle: {
            fontSize: 12,
            color: '#fff'
          }
        },
        grid: {
          'left': 0,
          'right': 0,
          'top': 30,
          'bottom': 20,
          'width': 'auto',
          'height': 'auto',
          'containLabel': true
        },
        'tooltip': {
          'trigger': 'axis',
          'axisPointer': {
            'type': 'shadow'
          },
          formatter: {
            '_custom': {
              'type': 'function',
              'display': '<span>?</span> formatter(param)'
            }
          }
        },
        'xAxis': [
          {
            'type': 'category',
            'data': this.xData,
            'axisLabel': {
              'interval': 0
            }
          }
        ],
        'yAxis': [
          {
            'type': 'value'
          }
        ],
        'series': [
          {
            'type': 'line',
            'symbolSize': 5,
            'name': '系统程控率',
            'data': [96.4, 95.7, 96.0, 95.8, 95.5, 96.0, 96.7, 86.9, 88.8, 93.6, 94.8, 95.9, 96.4, 94.8, 95.4, 95.7, 95.3, 95.0, 95.4, 96.3, 96.0, 95.6, 95.9, 95.3, 95.7],
            'smooth': true
          },
          {
            'type': 'line',
            'symbolSize': 5,
            'name': '闭环连续运行率',
            'data': [98.4, 98.7, 99.0, 98.8, 98.5, 99.0, 98.7, 97.9, 98.8, 98.6, 97.8, 97.9, 98.4, 97.8, 98.4, 98.7, 98.3, 99.0, 98.4, 98.3, 99.0, 97.6, 97.9, 98.3, 98.5]
          },
          {
            'type': 'line',
            'symbolSize': 5,
            'name': '控制品质达标率',
            'data': [86.4, 85.7, 86.0, 85.8, 85.5, 86.0, 86.7, 86.9, 88.8, 83.6, 84.8, 85.9, 86.4, 84.8, 85.4, 85.7, 85.3, 85.0, 85.4, 86.3, 86.0, 85.6, 85.9, 85.3, 85.7],
            'smooth': true
          }
        ],
        'dataZoom': []
      }
    }
  },
  created () {
    this.setWaterOpt('waterOption1', { value: 0.3, color: 'rgba(56, 154, 244, 1)', bgColor: 'rgba(56, 154, 244, 0.3)' })
    this.setWaterOpt('waterOption2', { value: 0.6, color: 'rgba(128, 134, 149, 1)', bgColor: 'rgba(128, 134, 149, .4)' })
    this.setWaterOpt('waterOption3', { value: 0.6, color: 'rgba(0, 246, 132, 1)', bgColor: 'rgba(0, 246, 132, .3)' })
    this.setMachineOption('machineOption', { value: 60, color: 'rgba(0, 246, 132, 1)' })
    this.setMachineOption('machineOption1', { value: 60, color: 'rgba(0, 246, 132, 1)' })
    this.setMachineOption('machineOption2', { value: 60, color: 'rgba(121, 72, 234, 1)' })
    this.setMachineOption('machineOption3', { value: 60 })
    this.setMachineOption('machineOption4', { value: 89, color: 'rgba(0, 246, 132, 1)' })
    this.setZXOption()
  }

}
</script>

<style lang="less">
.panel-wrap {
  margin-bottom: 20px;
  border-radius:5px;
  padding:24px;
  background:rgb(37, 37, 38);
}
.panel-title-font {
  display:inline-block;
  width:8px;
  height:20px;
  vertical-align: middle;
  border-radius:4px;
  margin-right:8px;
  background-color:#0efaf7;
}
.panel-title {
  color: #fff;
  font-size: 16px;
  margin-bottom: 20px;
  display:flex;
  align-items: center;
}
.panel-content {
  color: #fff;
  padding: 0 24px;
}
.text-color {
  color:#00dff6;
}
</style>
