<template>
     <Menu width="200px" accordion theme="dark" active-name="1-2" :open-names="['1']">
        <Submenu name="1">
            <template slot="title">
                自动化控制
            </template>
            <Submenu name="1-1">
              <template slot="title">
                总览
              </template>
               <MenuItem to='/factoryOverview' name="1-1-1">厂级总览</MenuItem>
            </Submenu>
            <Submenu name="1-2">
              <template slot="title">
                工艺段
              </template>
               <MenuItem to='/produceParam' name="1-2-1">生产参数配置</MenuItem>
               <MenuItem to="/alarmRecord" name="1-2-3">报警记录</MenuItem>
               <MenuItem to="/addMedicine" name="1-2-4">加药工艺段</MenuItem>
               <MenuItem to="/accurateBQ" name="1-2-5">精确爆气</MenuItem>
            </Submenu>
            <Submenu name="1-3">
              <template slot="title">
                历史复现
              </template>
               <MenuItem to="/historyReappear" name="1-3-1">历史过程复现</MenuItem>
            </Submenu>
            <Submenu name="1-5">
              <template slot="title">
                指标实时监控
              </template>
               <MenuItem to='/craftMonitor' name="1-5-1">工艺实时监控</MenuItem>
               <MenuItem to="/runRecord" name="1-5-2">设备运行记录</MenuItem>
            </Submenu>
            <Submenu name="1-6">
              <template slot="title">
                智能视频分析
              </template>
            </Submenu>
            <Submenu name="1-7">
              <template slot="title">
                数据驱动控制
              </template>
              <MenuItem to="/dataDriven" name="1-7-1">数据控制</MenuItem>
            </Submenu>
        </Submenu>
        <MenuItem  name="2" >
          <a style="color:rgba(255,255,255,.7)" href="http://maint.etownestate.com:8080/" target="_blank">运营管理</a>
        </MenuItem>
        <Submenu name="3">
              <template slot="title">
                数据决策
              </template>
                <MenuItem  name="3-1" to="/evaluate" >
                    评价体系
                </MenuItem>
        </Submenu>
    </Menu>
</template>

<script>
export default {

}
</script>

<style>

</style>
