<template>
   <div class="pd-wrap">
     <Row :gutter="16">
        <i-col  v-for="(p,index) in list" :key="index" span="8" class="param-box">
            <div class="panel-wrap">
              <div class="panel-title">
                <span class="panel-title-font"></span>{{p.title}}
              </div>
              <ul class="param-list">
                <li v-for="(item,index) in p.children" :key="index">
                  <span class="des">{{item.label}}</span>
                  <InputNumber class="count"></InputNumber>
                  <span>{{item.unit}}</span>
                </li>
              </ul>
            </div>
        </i-col>
    </Row>
   </div>
</template>

<script>
export default {
  data () {
    return {
      list: [
        { title: '孢子除磷间I',
          children: [
            { label: '进水流量计量程', unit: 'L/h' },
            { label: '出药流量计量程', unit: 'L/h' },
            { label: '液位计量程', unit: 'm' }
          ] },
        { title: '孢子除磷间II',
          children: [
            { label: '进水流量计量程', unit: 'L/h' },
            { label: '出药流量计量程', unit: 'L/h' },
            { label: '液位计量程', unit: 'm' }
          ] },
        { title: '提升泵房',
          children: [
            { label: '液位计量程', unit: 'm' },
            { label: '液位上限警告值', unit: 'm' },
            { label: '液位下限警告值', unit: 'm' }
          ] },
        { title: 'PAC1',
          children: [
            { label: '液位计量程', unit: 'm' },
            { label: '液位上限警告值', unit: 'm' },
            { label: '液位下限警告值', unit: 'm' }
          ] },
        { title: 'PAC2',
          children: [
            { label: '液位计量程', unit: 'm' },
            { label: '液位上限警告值', unit: 'm' },
            { label: '液位下限警告值', unit: 'm' }
          ] },
        { title: '碳源投加',
          children: [
            { label: '原液罐液位计量程', unit: 'm' },
            { label: '原液罐液位上限警告值', unit: 'm' },
            { label: '原液罐液位下限警告值', unit: 'm' }
          ] },
        { title: '储泥池',
          children: [
            { label: '原液罐液位计量程', unit: 'm' },
            { label: '原液罐液位上限警告值', unit: 'm' },
            { label: '原液罐液位下限警告值', unit: 'm' }
          ] },
        { title: '回收水池',
          children: [
            { label: '原液罐液位计量程', unit: 'm' },
            { label: '原液罐液位上限警告值', unit: 'm' },
            { label: '原液罐液位下限警告值', unit: 'm' }
          ] }
      ]
    }
  }
}
</script>

<style lang="less">
.bg-border {
  padding:24px 0;
  background:url('~@/assets/border.png') center no-repeat;
  background-size: 100% 100%;
}
.param-box {
  text-align: center;
  color:#fff;
  .param-title {
    font-size:16px;
    font-weight:bold;
    color:#fff;
  }
  .param-list {
    list-style: none;
    li {
      margin-top:10px;
      align-items: center;
      display:flex;
      .des {
        width:45%;
        text-align: right;
      }
      .count {
        margin:0 10px;
      }
    }
  }
}
</style>
