<template>
   <div class="pd-wrap">
     <Row :gutter="36">
        <i-col  v-for="(p,index) in list" :key="index" span="8" class="param-box">
          <div class="panel-wrap">
            <div class="panel-title"><span class="panel-title-font"></span>{{p.title}}</div>
            <div class="param-title record-title">
              <span style="width:40%;text-align:center;"></span>
              <span style="width:15%;"> 时间</span>
              <span style="width:20%">使用率</span>
            </div>
            <ul class="param-list">
               <li v-for="(item,index) in p.children" :key="index">
                <span style="width:40%;text-align:center">{{item.name}}</span>
                <span style="width:15%;">1h</span>
                <span style="width:20%;">20%</span>
               </li>
            </ul>
          </div>
        </i-col>
    </Row>
   </div>
</template>
<script>
export default {
  data () {
    return {
      list: [
        { title: '孢子除磷间I',
          children: [
            { name: '1#孢子转移一体机' },
            { name: '2#孢子转移一体机' },
            { name: '3#孢子转移一体机' }
          ] },
        { title: '孢子除磷间II',
          children: [
            { name: '1#孢子转移一体机' },
            { name: '2#孢子转移一体机' },
            { name: '3#孢子转移一体机' }
          ] },
        { title: '碳源投加',
          children: [
            { name: '1#电磁阀' },
            { name: '2#电磁阀' },
            { name: '1#轴流风机' }
          ] },
        { title: '提升泵房',
          children: [
            { name: '1#方形铸铁镶铜闸门' },
            { name: '2#方形铸铁镶铜闸门' },
            { name: '3#方形铸铁镶铜闸门' }
          ] },
        { title: 'PAC1',
          children: [
            { name: '1#电动球阀' },
            { name: '2#电动球阀' },
            { name: '1#机械隔膜计量泵' }
          ] },
        { title: 'PAC2',
          children: [
            { name: '1#电动球阀' },
            { name: '2#电动球阀' },
            { name: '1#机械隔膜计量泵' }
          ] },
        { title: '储泥池',
          children: [
            { name: '1#手自一体圆闸门' },
            { name: '1#潜水搅拌机' },
            { name: '2#潜水搅拌机' }
          ] },
        { title: '回用水泵房',
          children: [
            { name: '1#潜水泵' },
            { name: '1#潜水泵' },
            { name: '2#潜水泵' }
          ] }
      ]
    }
  }
}
</script>
<style lang="less">
.record-title {
  display:flex;
}
</style>
