<template>
  <div class="chart"
       ref="chart"></div>
</template>

<script>
import themeData from './theme.json'
import 'echarts-liquidfill'
let isRegisterTheme = false
export default {
  props: {
    option: {},
    data: {},
    mark: {},
    loading: {}
  },
  data () {
    return {}
  },
  watch: {
    option: {
      deep: true,
      handler () {
        this.update()
      }
    },
    loading (t) {
      if (!t) {
        this.chart.hideLoading()
      } else {
        this.chart.showLoading({
          text: '读取中...',
          color: this.$themeColor[0],
          textColor: '#fff',
          maskColor: 'rgba(30, 30, 30, 0.6)',
          zlevel: 0
        })
      }
    }
  },
  methods: {
    update () {
      if (this.chart) {
        this.resize()
        this.chart.showLoading()
        this.chart.clear()
        this.chart.setOption(this.option, true)
        this.chart.hideLoading()
      }
    },
    resize () {
      if (this.option.series && this.option.series[0]) {
        if (this.chart && this.option.series[0].name !== 'resource') {
          this.chart.resize()
        }
      }
    }
  },
  created () {
    if (!isRegisterTheme) {
      this.$echarts.registerTheme('default', themeData)
      isRegisterTheme = true
    }
  },
  mounted () {
    this.chart = this.$echarts.init(this.$el, 'default')
    this.chart.showLoading()
    this.chart.clear()
    this.chart.setOption(this.option, true)
    this.chartResize = this.chart.resize()
    this.chart.hideLoading()
    this.chart.on('click', (params) => {
      this.$emit('c-click', params)
    })
    this.chart.on('legendselectchanged', (params) => {
      this.$emit('legendselectchanged', params)
    })
    // 绑定resize事件，其他组件中调用this.$root.$emit('resize')，通过出发根组建事件触发resize回调
    this.$root.$on('resize', this.chartResize)
    let that = this
    window.addEventListener('resize',
      that.resize
    )
    this.resize()
    // this.chart.on('datazoom', (info) => {
    //   console.log(info);
    // });
  },
  destroyed () {
    // 解绑事件
    this.$root.$off('resize', this.chartResize)
    window.removeEventListener('resize', this.resize)
  }
}
</script>

<style lang="less">
.chart {
  width: 100%;
  height: 100%;
  div:nth-child(1) {
    width: 100% !important;
  }
}
</style>
