<template>
  <div>
     <iframe src="http://maint.etownestate.com:8080/#!/home.html" frameborder="0"></iframe>
  </div>
</template>

<script>
export default {

}
</script>

<style>
iframe {
  width:100%;
  min-height:100vh;
}
</style>
