<template>
  <div id="app">
    <div id="nav">
      <Nav/>
    </div>
    <div class="main-page">
           <router-view/>
    </div>
  </div>
</template>
<script>
import Nav from '@/views/nav'
export default {
  components: {
    Nav
  }

}
</script>
<style lang="less">
html,body {
  height:100%;
}

#app {
  display:flex;
  height:100%;
  #nav {
    width:200px;
    background:#363e4f;
    overflow: auto;
  }
  .main-page {
    flex:1;
    overflow: auto;
     background: #1e1e1e;
  }
}
</style>
